@import "variables";

.images {
  width: 180px;
  height: 20px;
  display: grid;
  grid-template-columns: 18px 112px 23px 22px;
  grid-template-rows: 20px;
  align-items: center;

  &-calendar__button {
    margin: 0;
    width: 18px;
    height: 20px;
    grid-column: 1;
  }

  &-calendar__date {
    margin: 0 0 0 6px;
    height: 15px;	
    width: 103px;	
    font-family: "Proxima Nova Regular";	
    font-size: 12px;	
    letter-spacing: 0.17px;	
    line-height: 15px;
    grid-column: 2;
  }

  &-looks__button {
    margin: 0;
    height: 18px;
    width: 23px;
    grid-column: 3;
  }

  &-looks__count {
    margin: 0 0 0 6px;
    width: 22px;
    height: 15px;
    font-family: "Proxima Nova Regular";	
    font-size: 12px;	
    letter-spacing: 0.17px;	
    line-height: 15px;
    grid-column: 4;
  }

  &-read {

    &__button {
      width: 83px;
      height: 29px;
      grid-column: 1;
      border-radius: 100px;	
      background-color: $main_color;
      color: $main_title;	
      font-family: "Proxima Nova Regular";	
      font-size: 14px;	
      font-weight: 600;	
      letter-spacing: 0.6px;	
      line-height: 17px;
      margin: 0;
      display: grid;
      align-items: center;
      justify-content: center;
    }

    &__note {
      width: 22px;
      height: 28px;
    }
  }
}