@charset "UTF-8";
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.link {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  margin: 0;
  width: 100%;
}

.header {
  width: 1366px;
  height: 51px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-items: end;
  border-bottom: 2px solid #ebecf0;
}

.main {
  width: 1366px;
  /*grid-column: 1 / 13;
  -ms-grid-column: 1 / 13;
  grid-row: 2;
  -ms-grid-row: 2;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 54px 1312px;
  -ms-grid-columns: 54px 1312px;
  grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;*/
  display: flex;
  flex-direction: row;
}
.main-image {
  width: 1312px;
  height: 448px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/main_image.jpg");
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.main-image__note {
  background-image: url("../images/Shape.svg");
}
.main-image__button {
  background-image: url("../images/calendar for hero.svg");
}
.main-image__looks {
  background-image: url("../images/eye for hero.svg");
}
.main-image__date {
  color: #ffffff;
}
.main-image__count {
  color: #ffffff;
}
.main-image-content {
  margin-left: 61px;
  width: 571px;
  height: 210px;
}
.main-image__text_yellow {
  height: 17px;
  width: 121px;
  color: #FFC830;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  font-family: "Proxima Nova Regular";
  margin: 0 0 16px 0;
}
.main-image__text {
  height: 84px;
  width: 852.6px;
  color: #FFFFFF;
  font-family: "Proxima Nova Regular";
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 0.6px;
  line-height: 42px;
  margin: 0 0 16px 0;
}
.main-content {
  width: 1312px;
  display: flex;
  flex-direction: column;
}
.main-content_red_line {
  position: relative;
}
.main-content_red_line::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 7px;
  left: -60px;
  width: 50px;
  height: 4px;
  background-color: #f94f4c;
}
.main-content-card {
  display: flex;
  width: 1119px;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 58px;
}
.main-content-sort {
  height: 17px;
  grid-row: 1;
  -ms-grid-row: 1;
  display: flex;
  list-style: none;
  height: 17px;
  width: 320px;
  color: #837F89;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  line-height: 17px;
  margin: 46px 0 0 58px;
  padding: 0;
}
.main-content-sort-item__link {
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 17px;
}
.main-content-sort-item:nth-child(1) {
  margin: 0 0 0 16px;
  width: 103px;
}
.main-content-sort-item:nth-child(2) {
  color: #2B292D;
  margin-left: 30px;
}
.main-content-sort-item:nth-child(2)::after {
  content: "";
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 9.36px;
  width: 2px;
  background-color: #979797;
  top: 0;
  left: -95px;
}
.main-content-image-read {
  width: 119px;
  height: 29px;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 83px 22px;
  -ms-grid-columns: 83px 22px;
  grid-template-rows: 29px;
  -ms-grid-rows: 29px;
  grid-column-gap: 14px;
  -ms-grid-row-align: center;
  align-items: center;
  margin: 16px 0 0 0;
}
.main-content-row {
  position: relative;
  margin: 61px 0 0 58px;
}
.main-content-row-read__note {
  background-image: url("../images/bookmark_big.svg");
  position: absolute;
  right: 14px;
  top: 240px;
}
.main-content-row-calendar__button {
  background-image: url("../images/calendar.svg");
}
.main-content-row-calendar__date {
  background-image: url("../images/eye.svg");
}
.main-content-row-info-date {
  color: #2B292D;
  margin: 0;
}
.main-content-row__image {
  width: 572px;
  height: 254px;
  border-bottom: 4px solid #f94f4c;
}
.main-content-row__header {
  color: #FFC830;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}
.main-content-row-text-block {
  background-color: #ffffff;
  padding: 31px 0 0 31px;
  border: 1px solid #E3E3E5;
  position: relative;
  width: 415px;
  height: 210px;
  position: absolute;
}
.main-content-row-text-block__head {
  height: 68px;
  width: 547px;
  color: #2B292D;
  font-family: "Proxima Nova Regular";
  font-size: 32px;
  font-weight: 800;
  line-height: 39px;
  margin-top: 31px;
}

.card {
  width: 339px;
  position: relative;
}
.card__image {
  width: 340px;
  height: 200px;
  margin: 0 0 16px 0;
}
.card__text {
  margin: 14px 0 0 0;
  height: 44px;
  width: 336px;
  color: #2B292D;
  font-family: "Proxima Nova Regular";
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}
.card__header_main {
  margin: 30px 0 0 0;
  color: #c9c8ca;
  font-family: "Proxima Nova Regular";
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

.menu_theme_all {
  height: 29px;
  padding: 0;
  margin-left: 15px;
  border-radius: 100px;
  width: 117px;
  background-color: #FFC830;
  display: flex;
  align-items: center;
}
.menu_theme_all_red {
  background-color: #f94f4c;
}
.menu_theme_all-item {
  display: inline-block;
  position: relative;
  z-index: 100;
  width: 81px;
  padding-left: 17px;
}
.menu_theme_all-item_red {
  color: #ffffff;
}
.menu_theme_all-item__link::after {
  content: "";
  position: relative;
  display: inline-block;
  left: 15px;
  top: -2px;
  width: 6px;
  height: 6px;
  border-right: 0.125em solid #2B292D;
  border-top: 0.125em solid #2B292D;
  transform: rotate(135deg);
}
.menu_theme_all-item__link_red::after {
  border-right: 0.125em solid #ffffff;
  border-top: 0.125em solid #ffffff;
}

.menu_row {
  display: flex;
  flex: 1 0 0;
  padding: 0;
  width: 411px;
  justify-content: flex-end;
}
.menu_row__item {
  width: 137px;
  font-size: 14px;
  text-align: center;
  line-height: 17px;
  font-weight: 600;
  letter-spacing: 0.88;
  color: #2B292D;
  position: relative;
  font-family: "Proxima Nova Regular";
}
.menu_row__item:hover .menu_row__item_link::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 2px;
  background-color: #eeb20b;
  top: 21px;
  left: 45px;
}
.menu_row__item:hover .menu_row__item_link_red::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 2px;
  background-color: #f94f4c;
  top: 21px;
  left: 45px;
}

.footer {
  width: 1366px;
  height: 185px;
  grid-column: 1/13;
  -ms-grid-column: 1/13;
  grid-row: 3;
  -ms-grid-row: 3;
  background-color: #EBECF0;
}

.row_first {
  display: flex;
  flex-direction: row;
  width: 992px;
  height: 275px;
  margin: 61px 0 0 58px;
}
.row_first__note {
  background-image: url("../images/bookmark_big.svg");
  position: absolute;
  right: 14px;
  top: 230px;
}
.row_first__image {
  background-image: url("../images/row_first.jpg");
  width: 572px;
  height: 254px;
}
.row_first__header {
  margin: 0;
  height: 17px;
  width: 395px;
  text-align: right;
}
.row_first-text-block {
  left: 519px;
  top: 53px;
}

.row_third {
  width: 1130px;
  height: 487px;
}
.row_third__date {
  padding-top: 32px;
}
.row_third__head {
  margin: 34px 0 32px 0;
}
.row_third__note {
  background-image: url("../images/bookmark_big.svg");
  position: absolute;
  right: 14px;
  top: 232px;
}
.row_third__header {
  margin: 0 0 10px 0;
}
.row_third__image {
  width: 1130px;
  height: 487px;
  background-image: url("../images/row_third.jpg");
}
.row_third-text-block {
  height: 243px;
  width: 634px;
  margin: 109px 0 0 39px;
  padding-top: 0;
}

.row_fourth {
  margin: 61px 0 0 0;
  background-color: #f7f7f9;
  padding: 0 132px 0 61px;
  width: 1119px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.row_fourth_wrapper_content {
  width: 1119px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row_fourth__note {
  background-image: url("../images/bookmark_big.svg");
  position: absolute;
  right: 14px;
  top: 240px;
}

.row_fifth {
  width: 992px;
  margin: 61px 0 0 178px;
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
}
.row_fifth__image {
  width: 564px;
  height: 254px;
  background-image: url("../images/row_fifth.jpg");
  margin-left: 250px;
}
.row_fifth__head {
  margin-left: -120px;
}
.row_fifth__note {
  background-image: url("../images/bookmark_big.svg");
  position: absolute;
  right: 14px;
  top: 230px;
}

.row_sixth {
  margin-top: 114px;
}

.row_seventh {
  width: 1312px;
  margin: 61px 0 0 0;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  justify-content: center;
}
.row_seventh__image {
  background-image: url("../images/arrow.png");
  width: 22px;
  height: 22px;
}
.row_seventh__text {
  margin: 0 0 0 18px;
  height: 17px;
  width: 106px;
  color: #2B292D;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 17px;
}

.row_seventh:hover .row_seventh__image {
  background-image: url("../images/rotate-ccw.svg");
}

.row_seventh:hover .row_seventh__text {
  color: #FFC830;
}

.menu-wrapper {
  width: 54px;
  height: 3300px;
  border-right: 2px solid #ebecf0;
  box-sizing: border-box;
}
.menu-wrapper_red {
  background-color: #f94f4c;
  border-right: 2px solid #d44242;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 523px;
  background-color: #fff;
  height: 3480px;
  top: 53px;
  left: -523px;
  transition: left 0.2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.menu_red {
  background-color: #f94f4c;
  color: #ffffff;
}
.menu-ticker {
  display: none;
}
.menu-button {
  color: #fff;
  background-image: url(../images/burger.svg);
  position: absolute;
  margin-left: 18px;
  top: 81px;
  cursor: pointer;
  transition: left 0.23s;
  width: 24px;
  height: 19px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.menu-button_red {
  background-image: url("../images/burger (2).svg");
  width: 22px;
  height: 17px;
}
.menu-item {
  width: 199;
  height: 22px;
  color: #2B292D;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 170px;
}
.menu-item_link_red {
  color: #ffffff;
}
.menu-item:first-of-type {
  margin-top: 210px;
}
.menu-item:not(:first-of-type) {
  margin-top: 24px;
}
.menu-item:first-of-type::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #FFC830;
  height: 2px;
  width: 32px;
  top: 215px;
  left: 130px;
}
.menu-item__red:first-of-type::before {
  background-color: #fff;
}

.menu-ticker:checked ~ .menu {
  left: 54px;
}

.menu-ticker:checked ~ .menu-button {
  width: 18px;
  height: 19px;
  background-image: url("../images/x.svg");
}

.menu-ticker:checked ~ .menu-button_red {
  background-image: url("../images/x (1).svg");
}

.header-line_direction_right {
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
  border-right: 2px solid #ebecf0;
  background-color: #ffffff;
}
.header-logo {
  grid-column: 1;
  height: 19px;
  width: 104px;
  background-image: url(../images/bokmål_logo.svg);
  margin-left: 19px;
}
.header-images {
  display: flex;
  flex: 1 0 0;
  width: 92px;
  height: 50px;
  border-left: 2px solid #ebecf0;
}
.header-images__search {
  width: 20px;
  height: 20px;
  background-image: url("../images/search.svg");
  margin: 15px 20px 15px 15px;
}
.header-images__search:hover {
  background-image: url("../images/search-hover.svg");
}
.header-images__note {
  width: 16px;
  height: 20px;
  background-image: url("../images/bookmark.svg");
  margin: 16px 19px 14px 0;
}
.header-menu {
  list-style: none;
  color: #2B292D;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 17px;
}
.header-menu-wrapper {
  width: 1142px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header-menu__link {
  color: #2B292D;
  text-decoration: none;
}
.header-ticker {
  display: none;
}
.header-menu_dropdown {
  display: block;
  position: absolute;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  top: -200px;
  left: 0;
  transition: top 0.2s;
  z-index: 9999;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  width: 1366px;
  background-color: #ffffff;
}
.header-menu_dropdown__link {
  color: #2B292D;
  text-decoration: none;
}
.header-menu_dropdown__link_red {
  color: #f94f4c;
}
.header-menu_dropdown__link_yellow {
  color: #FFC830;
}
.header-menu_dropdown-item {
  height: 61px;
  font-size: 18px;
  line-height: 22px;
  width: 208px;
  margin-top: 39px;
}
.header-menu_dropdown-item:first-of-type::after {
  content: "";
  position: relative;
  left: 59px;
  display: inline-block;
  width: 2px;
  height: 12px;
  background-color: #c9c8ca;
}
.header-menu_dropdown-item:last-of-type::before {
  content: "";
  position: relative;
  right: 59px;
  display: inline-block;
  width: 2px;
  height: 12px;
  background-color: #c9c8ca;
}
.header-menu_dropdown-item:first-of-type {
  color: #FFC830;
}
.header-button {
  color: #000;
  position: absolute;
  cursor: pointer;
  top: -4px;
  left: 137px;
  transition: left 0.23s;
  z-index: 3;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.header-ticker:checked ~ .header-button {
  left: 137px;
}
.header-ticker:checked ~ .header-menu_dropdown {
  top: 53px;
}

.red-third__line {
  position: relative;
}

.red-third__line::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 7px;
  left: -60px;
  width: 50px;
  height: 4px;
  background-color: #f94f4c;
}

.red-fifth__line {
  position: relative;
}

.red-fifth__line::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 7px;
  right: -15px;
  width: 50px;
  height: 4px;
  background-color: #f94f4c;
}

.images {
  width: 180px;
  height: 20px;
  display: flex;
  align-items: center;
}
.images-calendar__button {
  margin: 0;
  width: 18px;
  height: 20px;
}
.images-calendar__date {
  margin: 0 0 0 6px;
  height: 15px;
  width: 103px;
  font-family: "Proxima Nova Regular";
  font-size: 12px;
  letter-spacing: 0.17px;
  line-height: 15px;
}
.images-looks__button {
  margin: 0;
  height: 18px;
  width: 23px;
}
.images-looks__count {
  margin: 0 0 0 6px;
  width: 22px;
  height: 15px;
  font-family: "Proxima Nova Regular";
  font-size: 12px;
  letter-spacing: 0.17px;
  line-height: 15px;
}
.images-read {
  display: flex;
  margin-top: 33px;
}
.images-read__button {
  width: 83px;
  height: 29px;
  grid-column: 1;
  -ms-grid-column: 1;
  border-radius: 100px;
  background-color: #FFC830;
  color: #2B292D;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 17px;
  margin: 0 14px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images-read__note {
  width: 22px;
  height: 28px;
}

.footer {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 447px 318px 460px;
  -ms-grid-columns: 447px 318px 460px;
  grid-template-rows: 185px;
  -ms-grid-rows: 185px;
}
.footer-menu {
  list-style: none;
  display: flex;
  flex: 1 0 0;
  padding: 0;
}
.footer-menu-item {
  margin-top: 31px;
}
.footer-menu-item__icon_facebook {
  background-image: url("../images/Facebook-color.svg");
  height: 24.56px;
  width: 22.67px;
}
.footer-menu-item__icon_twitter {
  background-image: url("../images/Twitter-color.svg");
  height: 21.72px;
  width: 25.5px;
}
.footer-menu-item__icon_google {
  background-image: url("../images/GooglePlus-color (1).svg");
  height: 24.18px;
  width: 38px;
}
.footer-menu-item__icon_facebook:hover {
  background-image: url("../images/Facebook_hover-color.svg");
  height: 27px;
  width: 25px;
}
.footer-menu-item__icon_twitter:hover {
  background-image: url("../images/Twitter_hover-color.svg");
  height: 23px;
  width: 28px;
}
.footer-menu-item__icon_google:hover {
  background-image: url("../images/GooglePlus-color.svg");
  height: 27px;
  width: 42px;
}
.footer-menu-item:first-of-type {
  margin-right: 29px;
}
.footer-menu-item:last-of-type {
  margin-left: 31px;
}
.footer-form {
  grid-column: 1;
  -ms-grid-column: 1;
  width: 333px;
  height: 120px;
  margin: 32px 125px 0 114px;
}
.footer-form__input {
  border: none;
  background-color: inherit;
  outline: none;
  margin: 32px 0 17px 0;
}
.footer-form__input::placeholder {
  height: 20px;
  width: 45.81px;
  color: #2B292D;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.footer-form__input:-ms-input-placeholder {
  height: 20px;
  width: 45.81px;
  color: #2B292D;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.footer-form__button {
  border: none;
  background-color: inherit;
  width: 24px;
  height: 17px;
  background-image: url("../images/arrow-right.svg");
  align-self: flex-end;
  margin-bottom: 15px;
}
.footer-form-wrapper {
  width: 321px;
  border-bottom: 2px solid #2B292D;
  display: flex;
  flex: 1 0 0;
  justify-content: space-between;
}
.footer-icons {
  grid-column: 2;
  -ms-grid-column: 2;
  width: 443px;
  height: 120px;
  margin: 32px 0 0 125px;
}
.footer-info {
  grid-column: 3;
  -ms-grid-column: 3;
  width: 353px;
  height: 120px;
  margin: 32px 0 0 119px;
}
.footer-info__text {
  height: 100.3px;
  width: 353px;
  color: #837F89;
  font-family: "Proxima Nova Regular";
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
}
.footer__header {
  height: 17px;
  width: 284.22px;
  color: #837F89;
  font-family: "Proxima Nova Regular";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.88px;
  line-height: 17px;
}

/*# sourceMappingURL=main.css.map */
